.list_items {
    padding:24px 32px 0px 32px;
    overflow-y: scroll;
    margin-top: -18px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    padding: 20px 24px;
    border: 3px solid #EAF3F1;
    border-radius: 24px;
}

.image {
    height: 8vh;
    width: 8vh;
}

.item_info > .item_name {
    font-size: .8rem;
}

.item_info > .item_unities {
    font-size: .6rem;
}
