@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;

    text-decoration: none;
}

body {
    background-image: url("../assets/img/triangles.png");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
}

.title {
    text-align: center;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fridge_icon,
.star_icon,
.clock_icon {
    fill: #D2D2D2;
    height: 48px;
}
