section{
    text-align: center;
    line-break: strict;
}

.subtitle {
    margin-top: 23px;
    margin-bottom: 72px;
}

.gray_button {
    margin-bottom: 48px;
}

.subtitle > h4 {
    font-size: 20px;
}

.subtitle > p {
    font-size: 16px;
    color: #8D8D8D;
    height: 45px;
    width: 272px;
    padding-inline-start: 26px;
}    
