.items_title {
    margin-top: 36px;
    margin-bottom: 37px;
}

.list_ranking {
    padding:24px 32px 0px 64px;
    overflow-y: scroll;
    margin-top: -18px;
}
.item_ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.number_ranking {
    font-family: 'Quantico', sans-serif;
    font-size: 30px;
    color: #B8B8B8;
}
.image_ranking {
    height: 8vh;
    width: 8vh;
    margin-inline: 27px;
}
.name_ranking > h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.name_ranking > p {
    font-size: 12px;
    color: #B8B8B8;
}